#app {
    border: 2px solid red;
}

.outer {
    padding: 10px;
}

.inner {
    padding: 10px;
}

.slot {
    margin-top: 20px;
    font-size: 20px;
}

.btn {
    height: 70px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
}